.main {
    margin: 0 auto;
    padding: 0.5em;
    max-width: 1200px;
    border: 1px solid black;
    height: 800px;
}

.boxes {
    border: 1px solid red;
    height: 700px;
    /* Turns this class into a flex display  */
    display: flex; 

    /* this is the default: all in one row */
    /* flex-direction: row; */

    /* shift all row to start at right */
    /* flex-direction: row-reverse; */

    /* default column so it starts at top */
    /* flex-direction: column; */

    /* reverses the column so it starts at bottom */
    /* flex-direction: column-reverse; */


    /* Seems to work whether flex-direction: row is on or not */
    /* flex-wrap: wrap; */

    /* dictates direction of what moves up from the bottom */
    /* flex-wrap: wrap-reverse; */

    /* centers everything */
    /* justify-content: center; */

    /* justifies right; remember left is default */
    /* justify-content: end; */

    /* Puts equal space betwee all the items */
    /* justify-content: space-between; */

    /* spacing around except at edges*/
    /* justify-content: space-around; */

    /*most even spacing*/
    /* justify-content: space-evenly; */



}

.box {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

#box1 {
    background-color: #32a875;
}

#box2 {
    background-color: #2cd4bd;
    font-size: 1.5em;
    width: 75px;
}

#box3 {
    background-color: #a8325b;
    height: 100px;
}

#box4 {
    background-color: #325da8;
    width: 75px;
    height: 100px;
}

#box5 {
    background-color: #a832a4;
    width: 100px;
}

#box6 {
    background-color: #a86732;
    width: 100px;
} 
