.main {
    margin: 0 auto;
    padding: 0.5em;
    max-width: 1200px;
    border: 1px solid black;
    height: 800px;
}

.boxes {
    border: 1px solid red;
    height: 700px;
}

.box {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

#box1 {
    background-color: #32a875;
}

#box2 {
    background-color: #2cd4bd;
    font-size: 1.5em;
    width: 75px;
}

#box3 {
    background-color: #a8325b;
    height: 100px;
}

#box4 {
    background-color: #325da8;
    width: 75px;
    height: 100px;
}

#box5 {
    background-color: #a832a4;
    width: 100px;
}

#box6 {
    background-color: #a86732;
    width: 100px;
}